body {
    background-color: rgba(255, 198, 198, 0.67);
  }
  h1 {
    color: rgb(103, 103, 183);
  }
  p {
    background-color: rgb(255, 0, 0);
    color: rgb(216, 213, 213);
    border: 10px solid #000000;
    box-sizing: content-box;
    width: 44%;
    opacity: 0.5;
  }